<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <div class="form-row">
          <div class="col">
            <input formControlName="name" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <input formControlName="surname" type="text" class="form-control" placeholder="Surname">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input formControlName="email" type="email" class="form-control" placeholder="Email">
          </div>
          <div class="col">
            <input formControlName="age" type="number" class="form-control" placeholder="age">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input formControlName="mobile" type="text" class="form-control" placeholder="Mobile number">
          </div>
          <div class="col">
            <input formControlName="identityNumber" type="number" class="form-control" placeholder="ID/Passport">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="">Upload CV</label>
              <input formControlName="resume" type="file" class="form-control-file" (change)="onFileChange($event)" aria-describedby="fileHelpId">
            </div>
          </div>
        </div>
        <button type="button" type="submit" (click)="submit(form)" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>